.App {
  background-color: #000020;
  font-family: Courier;
}

.App-header {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A0FFFF;
}

.App-identity {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A0FFFF;
}

.App-smslist {
  min-height: 100vh;
  background-color: #000050;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A08080;
}

.inlineInput {
  margin-left: 15px;
  padding-left: 10px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: #70BFBF;
}

.inlineButton {
  margin-left: 25px;
  font-size: 100%;
  background-color: transparent;
  border: 2px solid #A0FFFF;
  border-radius: 10px;
  color: #70BFBF;
}

.smsText {
  margin-left: 10px;
  color: #906030;
}
.smsDate {
  color: #808080;
  font-size: calc(8px + 1.5vmin);
}
.smsSender {
  margin-left: 10px;
  font-weight: bold;
  color: #509030;
}
.spamStatus {
  margin-right: 20px;
}
.userName {
  color: gold;
  font-weight: bold;
}

.headerTitle {
  margin-bottom: 5px;
}

.headerSubtitle {
  color: #90DFDF;
  margin-top: 0px;
  font-size: 60%;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}
