.App {
  background-color: #000020;
}

.App-header {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A0FFFF;
}

.App-identity {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A0FFFF;
}

.App-smslist {
  min-height: 100vh;
  background-color: #000050;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  font-size: calc(10px + 2vmin);
  color: #A08080;
}

.inlineInput {
  margin-left: 15px;
}

.inlineButton {
  margin-left: 15px;
}

.smsText {
  margin-left: 10px;
  color: #906030;
}
.smsDate {
  color: #808080;
  font-size: calc(8px + 1.5vmin);
}
.smsSender {
  margin-left: 10px;
  font-weight: bold;
  color: #509030;
}
.spamStatus {
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}
